.catalog-section {
  display: flex;
  flex-direction: column;

  main {
    display: flex;

    .single-section {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-left: 57px;

      .header_wrapper_archive {
        display: flex;
        align-items: center;
        margin-bottom: 35px;

        .widget_price_filter {
          margin-right: 35px;
        }

        .wrap_woo_ordering {
          display: flex;
          align-items: start;

          span{
            margin-right: 12px;
            line-height: 25px;
          }

          .woocommerce-ordering {

          }
        }

        .woocommerce-result-count {
          flex: 1;
          text-align: right;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: $grey;
          margin-bottom: 0;
        }
      }

    }
  }
}

@media screen and (max-width: 1440px){
  .catalog-section {
    main{
      .widget-area{
      }
    }
  }
}