.catalog-section {
  display: flex;
  flex-direction: column;

  main {
    display: flex;

    .single-section {
      display: flex;
      flex-direction: column;
      margin-left: 57px;

      .product {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}