.catalog-section {
  display: flex;
  flex-direction: column;

  main {
    display: flex;

    .single-section {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-left: 57px;

      .header_wrapper_archive {
        display: flex;
        align-items: center;
        margin-bottom: 35px;

        .widget_price_filter {
          margin-right: 35px;
        }

        .wrap_woo_ordering {
          display: flex;
          align-items: start;

          span {
            margin-right: 12px;
            line-height: 25px;
          }

          .woocommerce-ordering {

          }
        }

        .woocommerce-result-count {
          flex: 1;
          text-align: right;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: $grey;
          margin-bottom: 0;
        }
      }

    }
  }
}

@media screen and (max-width: 1200px) {
  .catalog-section {
    main {
      .single-section {
        .header_wrapper_archive {
          flex-wrap: wrap;

          .widget_price_filter {
            //flex-basis: 46%;
            flex-basis: 30%;
            margin-right: 0;
            align-items: start;
          }

          .wrap_woo_ordering {
            flex-basis: 70%;
            justify-content: flex-end;
            padding-right: 26px;
          }

          .woocommerce-result-count {
            margin-top: 12px;
            flex-basis: 100%;
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .catalog-section {
    main {
      .single-section {
        margin-left: 0;

        .header_wrapper_archive {
          .widget_price_filter {
            flex-basis: 100%;
          }
          .wrap_woo_ordering{
            flex-basis: 100%;
            justify-content: flex-start;
            margin-top: 12px;
          }
        }
      }
    }
  }
}