.breadcrumb-single-container {
  margin-top: 64px;
  background-color: $paleGrey;

  .wrapper_archive {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;

    .breadcrumb {
      display: flex;
      align-items: center;

      p {
        margin-bottom: 0;


        img {
          position: relative;
          margin-bottom: -3px;
          width: 15px;
          height: 15px;
          margin-left: 6px;
          margin-right: 6px;
        }

        span {
          color: $grey;
        }
      }

      /*for woocommerce*/
/*      a:nth-of-type(1){
        display: none;
      }*/
      a, a:visited {
        position: relative;
        font-weight: 500;
        color: $black;
        margin-right: 39px;
      }

      a:after{
        position: absolute;
        content: url("../../assets/images/icons/ic15-caret-right.svg");
        padding-top: 4px;
        padding-left: 13px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .breadcrumb-single-container {
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumb-single-container {
    margin-top: 32px;

    .breadcrumb {
      p, span {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}